*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.site-heade {
    width: 100%;
    height: 100vh;
    background: lightskyblue;
    background-image: url();
}

.Background_image{
    width: 100%;
    height: 5%;
}

.hello {
    border: olive;
}


button{
    text-align: left;
    display: inline-flex;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: transparent;
    border: 10px solid yellow;
    color: black;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    cursor: pointer;
}

a{
text-decoration: none;
}
h1{
    text-align: center;
    color: #fff;
    font-family: raleway;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 5px;
    border-bottom: 1px solid #0000006b;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #03a9f4, 0 0 40px #03a9f4, 0 0 50px #03a9f4, 0 0 60px #03a9f4, 0 0 70px #03a9f4;
}

h2{
    text-align: center;
    color: #000000;
    font-weight: 900; 
}
.Background_image{
    height: 50vh;
}
    




